<div class="staff-details">
	<div class="staff-image">
		<img src="{% include relative-src.html src=include.project.image %}" alt="Photo of {{ include.project.name }}" width="120" height="120">
	</div>
	<ul class="staff-info">
		<li>{% if include.project.link %}<a href="{{ include.project.link }}">{% endif %}{{ include.project.name }}{% if include.project.link %}</a>{% endif %}</li>
		<li><small>{{ include.project.title }}</small></li>
		<li>
      {% for link in include.project.social %}
        <small><a href="{% include relative-src.html src=link.link %}" class="fa fa-{{ link.icon }}" target="_blank"> {{ link.name }}</a></small>
      {% endfor %}
		</li>
	</ul>
</div>

<div class="staff-bio">
	<p>{{ include.project.content | markdownify }}</p>
</div>