---
title: Archive
permalink: /archive/
call_to_action: home
background_image:
large_header: false
show_in_navigation: false
---

<p>
  Build 11
</p>
 
{% capture rawauthors %}{% for post in site.posts %}{% if post.author %}{{ post.author }}|{% endif %}{% endfor %}{% endcapture %}
{% assign authors = rawauthors | split:'|' | sort %}

{% capture rawprojects %}{% for post in site.posts %}{% if post.project %}{{ post.project }}|{% endif %}{% endfor %}{% endcapture %}
{% assign projects = rawprojects | split:'|' | sort %}

<h3>Authors and Projects</h3>
<p>
  {% for category in site.categories %}
    <a href="#{{ category[0] | slugify }}" class="fa fa-tag">{{ category[0] }}</a> &nbsp;
  {% endfor %}
</p>

<h3>Categories and Tags</h3>
<p>
  {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="fa fa-tag">{{ tag[0] }}</a> &nbsp;
  {% endfor %}
</p>

<h3>Posts by Author</h3>
{% for author in authors %}
  {% capture rawposts %}
    {% for post in site.posts %}
      {% if post.author == author %}{{ post.title }}*{{ post.url }}|{% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign posts = rawposts | split:'|' | sort %}
  <h4 id="{{ author | downcase }}-ref">{{ author }}</h4>
  {% for post in posts %}
    <ul>
      {% assign parts = post | split:'*' %}
      <li><a href="{{ BASE_PATH }}{{ parts[1] }}">{{ parts[0] }}</a></li>
    </ul>
  {% endfor %}
{% endfor %}

<h3>Posts by Tag</h3>
{% for tag in site.tags %}
  <h4 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h4>
  <ul>
    {% for post in tag[1] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small> {{ post.date | date: '%B %d, %Y' }}</small>
      </li>
    {% endfor %}
  </ul>
{% endfor %}