---
title: Tags
permalink: /tags
call_to_action: home
background_image:
large_header: false
show_in_navigation: false
---

{% for tag in site.tags %}
  {% unless forloop.first %}&bull;{% endunless %}
  <a href="/#{{ tag[0] | slugify }}" class="fa fa-tag">{{ tag[0] }}</a>
{% endfor %}

{% for tag in site.tags %}
  <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
    <ul>
      {% for post in tag[1] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>&bull;
          <small>by {{ post.author.name }} on {{ post.date | date: '%B %d, %Y' }}</small>
        </li>
      {% endfor %}
    </ul>
{% endfor %}